.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {

    display: flex;

}

.container__botao:checked~.lista-menu {
    display:block;
}